// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post {
  position: relative;
  margin-top: 1 em;
  border-bottom: 5px solid #fff;
  background: lightblue;
  border-radius: 5px;
  opacity: .8;
}

.well-post {
  background: lightblue;
  opacity: .8;
}

div.error, div.success {
  background: #911;
  color: #fff;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

div.success {
  background: #191;
}




